<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../inc/css') %> 
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>Welcome Dashboard - <%= user.name %> </h1>
    </div>
</body>
</html>