<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../inc/css') %> 
    <title>Admin Login</title>
</head>
<body>
    <div class="container">
        <h1>Login Page</h1>
    </div>
</body>
</html>