<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../inc/css') %> 
    <title>Product</title>
</head>
<body>
    <div class="container">
        <%- include ('../inc/navbar') %> 
        <h2> <%= item.productName %>  </h2>


    </div>
</body>
</html>