<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../inc/css') %> 
    <title>Product</title>
</head>
<body>
    <div class="container">
        <%- include ('../inc/navbar') %> 
        <h2>Product List</h2>

        <% if (arr) { %>
            <div class="row">
                <% arr.forEach((item, index) => { %>
                    <%- include('../inc/productItem', {item, index})  %> 
                <% }) %>
            </div>
        <% } %>

    </div>
</body>
</html>